# extracting the business reviews

In [25]:
import pandas as pd

In [26]:
business = pd.read_csv('target.csv')

In [27]:
business.head()

              business_id  review_count  stars state
0  HPA_qyMEddpAEtFof02ixg            39    4.0    MA
1  QciD6FbNklaJvUbLExD4Nw            76    4.0    BC
2  Z2JC3Yrz82kyS86zEVJG5A            16    3.0    MA
3  qbZJh9lR0gh4Wca96NQv9g            15    2.0    FL
4  L-Stk9lkVfPSFQlrFukCwA           205    3.5    MA

In [28]:
# we want to grab the business_id column as a list
business_ids = business['business_id'].values
print(business_ids[0:5])

['HPA_qyMEddpAEtFof02ixg' 'QciD6FbNklaJvUbLExD4Nw'
 'Z2JC3Yrz82kyS86zEVJG5A' 'qbZJh9lR0gh4Wca96NQv9g'
 'L-Stk9lkVfPSFQlrFukCwA']

# filtering a large data file in chunks

In [29]:
# the task is to create a reader object for the review json file
# use lines = True as before but add the chunksize = 100000
review_reader = pd.read_json("D:\MEGA\Data Science\Springboard data science beginner - PYTHON\yelp_dataset\yelp_dataset\yelp_academic_dataset_review.json", lines=True, chunksize=100000)

In [31]:
%%time
# the task is to process the file one chunk at a time so we can extract the corresponding reviews for the business_id
# filter that chunk for rows with a business_id in business_ids
reviews = [review.loc[review['business_id'].apply(lambda x: x in business_ids)] for review in review_reader]

Wall time: 23min 18s

In [32]:
type(reviews)

list

In [33]:
len(reviews)

87

In [34]:
# time to convert the reviews in a dataframe
# try using concat from pandas library
reviews = pd.concat(reviews)

In [35]:
reviews.shape

(479303, 9)

In [36]:
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
10,FdoBFTjXXMn4hVnJ59EtiQ,eLAYHxHUutiXswy-CfeiUw,WQFn1A7-UAA4JT5YWiop_w,1,0,0,0,"They NEVER seem to get our \norder correct, se...",2017-09-08 23:26:10
57,DS4kN9ph17evKTUu0I3heQ,1hrlsEQ8l43jK4aXqQknGg,wVlxPWwFL-MrzCXim-UfWg,5,0,0,0,We had lunch there on a Sunday afternoon and i...,2018-05-08 17:14:19
63,J4LVJg82TjwJmjJvwwJcOg,EdJoFvhyRQnnGW7DT3ZLQA,HUEZLPIM64cDZnfHE1H3AA,5,0,0,0,its the best pizza hut i'v found in florida al...,2008-09-29 09:33:04
83,Z4IC8fBQwx8Y7QaiEt4OGA,yjkkzv-SHfS_jT25hWXi3g,VWuI68p6Ao_ENKaCGRazLA,4,0,0,0,Jacks is the place to be. \nThe food is except...,2013-12-28 22:24:14
117,ksRo7U-FzZ2HLfI48nfUZA,_zsiwKQoiAK6KiPUho1hFQ,1BvysshfkDS2eJ0k8XiDjQ,5,0,0,0,"Stopped in for lunch, was pleasantly surprised...",2017-07-08 18:43:41

In [37]:
# save the output into a csv file named 'reviews_filtered.csv'
# parameter index = False
reviews.to_csv('reviews_filtered.csv', index=False)